.colorbody{
  background-color: #404040;
}
  
  table{
    width: 300px;
    height: 300px;
    margin: 100px auto;

    text-align: center;
  }
  

  
  .green{
    border-radius: 180px 10px 60px 10px;
    background-color: green;
    color: green;
    border-right: 10px solid #0a6610;
    border-bottom: 10px solid #0a6610;
    border-left: 0px solid #404040;
    border-top: 0px solid #404040;
  
      }
      
    .green:hover{
      background-color: #c0f904;
    }
    
  
  
  .blue{
    background-color:blue;
    color:blue;
    border-radius: 10px 180px 10px 60px;
    border-left: 10px solid #091475;
    border-top: 0px solid #404040;
    border-right: 0px solid #404040;
    border-bottom: 10px solid #091475;
  }
  
    .blue:hover{
      background-color: #05f0fc;
    }
    
  .red{
    background-color: #941410;
    color:red;
    border-radius: 0px 60px 0px 180px; 
    border-left: 0px solid #404040;
    border-top: 10px solid #96073e;
    border-right: 10px solid #96073e;
    border-bottom: 0px solid #404040;
  }
  
  .red:hover{
      background-color: #ff221c;
    }
  
  .yellow{
    background-color:yellow;
    color: yellow;
    border-radius: 60px 10px 180px 10px;
    border-left: 10px solid #adad06;
    border-top: 10px solid #adad06;
    border-right: 0px solid #404040;
    border-bottom: 0px solid #404040;
  }
  
  .yellow:hover{
      background-color: #ffff66;
      color:black;
      
  } 
  
  
  h1{
    border:3px solid #000000;
    margin: 100px auto;
    text-align: center;
  }
  